@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

@import "./styles/skillbar.scss";

::-moz-selection {
  /* Code for Firefox */
  background-color: #8490ff;
  color: #fff;
}

::selection {
  background-color: #8490ff;
  color: #fff;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #777777;
  font-weight: 300;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #777777;
  opacity: 1;
  font-weight: 300;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #777777;
  opacity: 1;
  font-weight: 300;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #777777;
  font-weight: 300;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #777777;
  font-weight: 300;
}

body {
  color: #777777;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
  position: relative;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

select {
  display: block;
}

figure {
  margin: 0;
}

a {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

iframe {
  border: 0;
}

a,
a:focus,
a:hover {
  text-decoration: none;
  outline: 0;
}

.is-sticky .default-header {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
}

.p1-gradient-bg,
.primary-btn,
.primary-btn2:hover,
.default-header,
.dropdown-menu,
.banner-area,
.myself-wrap .desc .talk-btn,
.skillbar-bar,
.single-footer-widget .click-btn,
.generic-banner {
  background-image: -moz-linear-gradient(0deg, #62bdfc 0%, #8490ff 100%);
  background-image: -webkit-linear-gradient(0deg, #62bdfc 0%, #8490ff 100%);
  background-image: -ms-linear-gradient(0deg, #62bdfc 0%, #8490ff 100%);
}

.p1-gradient-color,
.single-service a:hover,
.footer-social a:hover i,
.single-footer-widget .bb-btn {
  background: -moz-linear-gradient(0deg, #62bdfc 0%, #8490ff 100%);
  background: -webkit-linear-gradient(0deg, #62bdfc 0%, #8490ff 100%);
  background: -ms-linear-gradient(0deg, #62bdfc 0%, #8490ff 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
